#works-ul {
    list-style: circle;
  background-color: whitesmoke;
  // box-shadow: 6px 6px 1px 1px black;
  //top right bottom left
  padding: 4% 9% 4% 6%;
}

#project-item{
    padding: 1vh 0 1vh 0
}

#mid-content {
  background-color: whitesmoke;
  box-shadow: 6px 6px 1px 1px black;
  //top right bottom left
  margin-top: 4vh;
  margin-bottom: 4vh;
  margin-left: 8%;
  padding: 4vh 5vw 3vh 5vw;
}

#project-desc {
  padding-top: 2vw;
  padding-left: 1.4vw;
}

#project-image {
  width: 100%;
  height: auto;
}

#project-title {
  text-decoration: underline;
}