@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

$redColor: rgba(244, 67, 54, 1);
$blueColor: rgba(33, 150, 243, 1);

#socialmedia {
  margin-top: 45px;
}

#socialmedia-title{
  font-size: 3.2vw
}

.icon-3d {
  margin: 10px;
  -webkit-animation: icon3d 200ms 4;
  animation: icon3d 200ms 4;
  color: black;
  &:hover {
    -webkit-animation: icon3d 200ms infinite;
    animation: icon3d 200ms infinite;
  }
}

@keyframes icon3d {
  0% {
    text-shadow: 2px 2px $redColor, -2px -3px $blueColor;
  }
  25% {
    text-shadow: -2px -3px $redColor, 2px 2px $blueColor;
  }
  50% {
    text-shadow: 2px -2px $redColor, -4px 2px $blueColor;
  }
  75% {
    text-shadow: -4px -2px $redColor, -2px -2px $blueColor;
  }
  100% {
    text-shadow: -2px -2 $redColor, 2px -2px $blueColor;
  }
}
