#root {
  background-image: url("./utils/images/personalportfoliobg2.jpg");
  height: 100vh;
  overflow-x: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

//--------------------------START HOME PAGE--------------------------------//
#home-content {
  // background-color: whitesmoke;
  // box-shadow: 6px 6px 1px 1px black;
  //top right bottom left
  margin: 4vh 8% 4vh 8%;
  padding: 4vh 5vw 3vh 5vw;
}

#welcome-message {
  text-align: center;
  font-size: 9vw;
  font-style: italic;
  color: white;

}
//--------------------------END HOME PAGE--------------------------------//

#findme {
  font-size: 200px;
}

h2 {
  font-size: 2.8vw;
  text-decoration: underline;
  padding-bottom: 1vw;
}

.project-name {
  font-size: 1.6vw;
}

#first-p,
#second-p {
  font-size: 1.6vw;
  padding-left: 1vw;
}

#demo {
  color: rgb(226, 0, 0);
  font-size: 1.5vw;
}

#available {
  font-style: italic;
  font-size: 1.9vw;
  text-decoration: underline;
  padding-top: 1vw;
  text-align: center;
}

#contact-me {
  font-size: 2.8vw;
}

#contact-info {
  padding-left: 1vw;
}

#contact {
  font-size: 1.6vw;
}

//--------------------------START WORKS PAGE--------------------------------//
#works-ul {
  list-style: circle;
  background-color: whitesmoke;
  // box-shadow: 6px 6px 1px 1px black;
  //top right bottom left
  padding: 4% 9% 4% 6%;
}

#project-item {
  padding: 1vh 0 1vh 0;
}

#mid-content {
  background-color: whitesmoke;
  box-shadow: 6px 6px 1px 1px black;
  //top right bottom left
  margin: 4vh 8% 4vh 8%;
  padding: 4vh 5vw 3vh 5vw;
}

#project-desc {
  padding-top: 2vw;
  padding-left: 1.4vw;
}

#project-image {
  display: block;
  max-width: 100%;
  height: auto;
  // max-height: 100%;
  // width: auto;
}

#project-title {
  text-decoration: underline;
}
//--------------------------END WORKS PAGE--------------------------------//