#root {
  background-image: url("./utils/images/personalportfoliobg2.jpg");
  height: 100%;
  overflow-x: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#findme {
  font-size: 200px;
}

h2 {
  font-size: 2.8vw;
  text-decoration: underline;
}

//mid content
#mid-content {
  margin: 4vh 8% 3% 8%;
}

// bio section
#bio {
  background-color: whitesmoke;
  box-shadow: 6px 6px 1px 1px black;
  //top right bottom left
  padding: 4% 9% 2% 6%;
}

#first-p,
.project-name {
  font-size: 1.6vw;
}

#second-p {
  color: rgb(78, 77, 77);
  font-size: 1.6vw;
}

#demo {
  color: rgb(78, 77, 77);
  font-size: 1.5vw;
}

#available {
  font-style: italic;
  font-size: 1.9vw;
  text-decoration: underline;
}