#root {
  background-image: url("./utils/images/personalportfoliobg2.jpg");
  height: 100%;
  overflow-x: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2{
  font-size: 3.1vw;
}

// profile picture
img {
  width: 400px;
  height: 400px;
  box-shadow: 6px 6px 1px 1px black;
}

//mid content
#mid-content {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 40px;
}

// bio section
#bio {
  background-color: whitesmoke;
  box-shadow: 6px 6px 1px 1px black;
  //top right bottom left
  padding: 4% 9% 10px 6%;
}

#first-p {
  font-size: 2.15vw;
}

#second-p {
  font-size: 1.95vw;
}

#available {
  font-style: italic;
  font-size: 1.9vw;
  text-decoration: underline;
}
