#root {
  background-image: url("./utils/images/personalportfoliobg2.jpg");
  height: 100%;
  overflow-x: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#findme {
  font-size: 200px;
}

h2 {
  font-size: 2.8vw;
  text-decoration: underline;
  padding-bottom: 1vw;
}

//mid content
#mid-content {
  margin: 4vh 8% 3% 8%;
}

// bio section
#bio {
  background-color: whitesmoke;
  // box-shadow: 6px 6px 1px 1px black;
  //top right bottom left
  padding: 4% 9% 2% 6%;
}

.project-name {
  font-size: 1.6vw;
}

#first-p, #second-p {
  font-size: 1.6vw;
  padding-left: 1vw;
}

#demo {
  color: rgb(226, 0, 0);
  font-size: 1.5vw;
}

#available {
  font-style: italic;
  font-size: 1.9vw;
  text-decoration: underline;
  padding-top: 1vw;
  text-align: center;
}

#contact-me{
  font-size: 2.8vw;
}

#contact-info{
  padding-left: 1vw;
}



//--------------------------START WORKS PAGE--------------------------------//
#works-ul {
  list-style: circle;
background-color: whitesmoke;
// box-shadow: 6px 6px 1px 1px black;
//top right bottom left
padding: 4% 9% 4% 6%;
}

#project-item{
  padding: 1vh 0 1vh 0
}

#mid-content {
background-color: whitesmoke;
box-shadow: 6px 6px 1px 1px black;
//top right bottom left
margin-top: 4vh;
margin-bottom: 4vh;
margin-left: 8%;
padding: 4vh 5vw 3vh 5vw;
}

#project-desc {
padding-top: 2vw;
padding-left: 1.4vw;
}

#project-image {
width: 100%;
height: auto;
}

#project-title {
text-decoration: underline;
}
//--------------------------END WORKS PAGE--------------------------------//