#root {
  background-image: url("./utils/images/personalportfoliobg2.jpg");
  height: 100%;
  overflow-x: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// profile picture
img {
  width: 400px;
  height: 400px;
  box-shadow: 6px 6px 1px 1px black;
}

//mid content
#mid-content {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 40px;
}

// bio section
#bio {
  background-color: whitesmoke;
  box-shadow: 6px 6px 1px 1px black;
  //top right bottom left
  padding: 10px 10px 30px 12%;
  // padding-top: 10px;
  // padding-bottom: 10px;
  // padding-left: 30px;
  // padding-right: 12%;
  font-size: 20px;
}

#first-p {
  font-size: 24px;
}

#available {
  font-style: italic;
  text-decoration: underline;
}
